@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: "roboto", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    display: inline;
    text-decoration: none;
}

.text--purple {
    color:#6415ff;
}

.container {
    padding: 80px 0;
}

/* Landing Page */

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bdaddd;
    border-radius: 10px;
}

/*Navigation*/

.nav__row {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 16px;
    width: 100px;

}

.nav__logo--img {
    width: 40px;
}


.nav__logo--title {
    font-size: 32px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
    font-family: "Inter", sans-serif;
}

.nav__links {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 16px;
    
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
    
}

.nav__link--login {
    margin: 0 32px ;
}

.nav__link--action {
    background-color: #6415ff;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

/* Header */


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.header--description {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 32px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--button {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__img--wrapper {
    display: flex;
    justify-content: end;
    width: calc(100%-40%)
}

.header--customers {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;

}

.header--customers__logos {
    display: flex;
    max-width: 450px;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__row {
    display: flex;
    align-items: flex-start;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
    max-width: calc(100%/3);
}

.feautures--list{
    display: flex;
    flex-wrap: wrap;
    
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}