@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: "roboto", sans-serif;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin: 150px auto;
}

a {
    display: inline;
    text-decoration: none;
}

.text--purple {
    color:#6415ff;
}

.container {
    padding: 80px 0;
}

.button {
    cursor: pointer;
    border: none;
}

html, body {
    margin: 0;
    padding: 0;
}


/* Landing Page */

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/*Navigation*/

.nav__row {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 16px;
    width: 200px;

}

.nav__logo--img {
    width: 40px;
}


.nav__logo--title {
    font-size: 32px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
    font-family: "Inter", sans-serif;
}

.nav__links {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 16px;
    
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
    
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link--action

.nav__link--login {
    margin: 0 32px ;
}

.nav__link--action {
    background-color: #6415ff;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    transition-duration: 0.4s;
}

/* Header */


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.header--description {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;

}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 32px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--button {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__img--wrapper {
    display: flex;
    justify-content: end;
    width: calc(100%-40%)
}

.header--customers {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;

}

.header--customers__logos {
    display: flex;
    max-width: 450px;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: calc(100%/3)
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
    max-width: calc(100%/3);
}

.features--list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 100px;

}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

/* Quality Work */

.quality-work {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.quality-work__txt {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality-work__button {
    background-color: #6415ff;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    width: 150px;
}

.quality-work__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;

}

.quality-work__img {
    display: flex;
    width: 100%;
    
}

.quality-work__header {
    color: #6415ff;
}

/*Steps*/

.steps {
    display: flex;
    align-items: center;
    margin: 150px auto;
}

.steps--top {
    color:#6415ff;
}

.steps__txt--description {
    display: flex;
}

.step__txt--number {
    margin-right: 20px;
    color: grey;
}

.step__txt--para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.steps__txt--header {
    margin-left: 50px;
}

/* Values */

.values {
    display: flex;
    align-items: center;
    margin: 150px auto;
}


.value__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    width:25px;
    height: 25px;
    
}

.value__title {
    display: flex;
    
}

.values__txt {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.values__list {
    display: flex;
    justify-content: space-between;
}

.values__main-image--wrapper {
    display: flex;
    width: 50%;

}

.values__main-image {
    width: 100%;
    display: flex;
}

.values__button {
    background-color: #6415ff;
    color: white;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 100px;
    width: 150px;
}

/* pricing */

.pricing {
    display: flex;
    justify-content: center;
}

.pricing__desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
}

.pricing__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.pricing__card {
    position: relative;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    width: 300px;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    margin-top: 0px;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
    background-color: #baa2eb;

}

.pricing__button {
    background-color: #6415ff;
    color: white;
    padding: 10px 20px;
    margin: 50px auto;
    border-radius: 100px;
    width: 150px;
}

.pricing__card--business {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color:white;
}

.pricing__card--enterprise {
    background-color: teal;
    color: white;
}

/* Testimonials */

.testimonials {
    display: flex;
    align-items: center;
    margin: 150px auto;

}

.testimonials__img--wrapper {
    display: flex;
    width: 50%;
}

.testimonials__img {
    display: flex;
    width: 100%;
}

.testimonials__txt {
    width: 50%;
}

.testimonials__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonials__profile--image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 25px;
}

.testimonials__profile--wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}

.tesimonials__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
    height:50px;
    width: 50px;
}

.svg {
    width: 16px;
    height: 16px;
}

.tesimonials__button-layout {
    display: flex;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

/* Start Section */

.start {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    height: 150px;
}

.start__button {
    background-color: #d93306;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    width: 150px;
    height: 75px;
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
}

.start__button:hover {
  background-color: #04AA6D;
  transition-duration: 0.4s;
}

.start__button--contact {
    background-color: #6415ff;
    border: 1px solid rgb(160, 174, 192);
}

.start__button--contact:hover{
    background-color: white;
    color:black;
}

.start__txt {
    width: 50%;
}

/* Footer */

.footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer__columns {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    color: white
}

.footer__column--link {
    color: white;
    margin-top: 24px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__column--link:hover {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
}

.footer__column--link:hover:after {
    opacity: 1;
}



.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(115, 61, 224);
}